@keyframes lastMove {
  from { color: #FF0000; }
  to { color: #FFF; }
}

.controls {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: #FFFFFF;
  position: absolute;
  left: 10px;
  bottom: 45px;
  height: 115px;
  width: 110px;

  .octicon {
    cursor: pointer;
    font-size: 50px;
    position: absolute;

    &.last {
      animation: lastMove 300ms ease;
    }

    &.control-arrow-n {
      top: -5px;
      left: 38px;
    }
    
    &.control-arrow-w {
       transform: rotate(0.75turn);
       top: 32px;
       left: 3px;
    }

    &.control-arrow-e {
       transform: rotate(0.25turn);
       top: 32px;
       left: 75px;
    }

    &.control-arrow-s {
       transform: rotate(0.5turn);
       top: 70px;
       left: 38px;
    }

    &.control-arrow-ne {
       transform: rotate(0.125turn);
       top: -9px;
       left: 80px;
     }
     
    &.control-arrow-es {
       transform: rotate(0.375turn);
       top: 75px;
       left: 80px;
     }
     
    &.control-arrow-sw {
       transform: rotate(0.625turn);
       top: 75px;
       left: 0;
     }
     
    &.control-arrow-wn {
       transform: rotate(0.875turn);
       top: -8px;
       left: -1px;
     }
  }
}
